* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}
a {
    padding: 1rem 3rem;
}
@media only screen and (min-width: 350px){
    .container a{
        font-size: 5rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 1rem 0 4rem 0;
         position: relative;
    }
    .container a:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 0px;
        height: 2px;
        background-color: rgb(39, 136, 226);
        transition: all 1s ease-in-out;
    }
    .container a:hover:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 450px;
        height: 2px;
        background-color: rgb(0, 98, 211);
        animation: anime 1s forwards;
        transform-origin: left;
    }
    @keyframes anime {
        to {
            transform: scaleX(1.3);
        }
    }
   
    .map iframe{
        width:850px;
        height: 82vh;
    }
}
@media only screen and (min-width: 600px){
    .container a{
        font-size: 3rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 1rem 0 4rem 0;
         position: relative;
    }
    .container a:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 0px;
        height: 2px;
        background-color: rgb(39, 136, 226);
        transition: all 1s ease-in-out;
    }
    .container a:hover:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 450px;
        height: 2px;
        background-color: rgb(0, 98, 211);
        animation: anime 1s forwards;
        transform-origin: left;
    }
    @keyframes anime {
        to {
            transform: scaleX(1.3);
        }
    }
   
    .map iframe{
        width: 800px;
        height: 80vh;
    }
}
@media only screen and (min-width: 900px){
    .container a{
        font-size: 3rem;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 1rem 0 4rem 0;
         position: relative;
    }
    .container a:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 0px;
        height: 2px;
        background-color: rgb(39, 136, 226);
        transition: all 1s ease-in-out;
    }
    .container a:hover:before {
        position: absolute;
        content: '';
        bottom: 50px;
        left: 0px;
        width: 450px;
        height: 2px;
        background-color: rgb(0, 98, 211);
        animation: anime 1s forwards;
        transform-origin: left;
    }
    @keyframes anime {
        to {
            transform: scaleX(1.3);
        }
    }
   
    .map iframe{
        width: 950px;
        height: 75vh;
    }
}