* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
a {
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 100px;
  padding: 1rem 1.2rem;
  text-align: center;
  margin: 2rem 3rem;
  text-decoration: none;
}
@media only screen and (min-width: 350px) {
  .link {
    font-size: 4.9rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 1rem 1.4rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  .link:hover {
    font-size: 4.9rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem 1rem 1.4rem 1rem;
    background: #fff;
    border: 1px solid #000;
  }
  .map iframe {
    width: 850px;
    height: 82vh;
  }
}
@media only screen and (min-width: 600px) {
  .link {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 1rem 1rem 1.4rem 1rem;
  }
  .link:hover {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 1rem 1rem 1.4rem 1rem;
    border: 1px solid #000;
    background: #fff;
  }
  .map iframe {
    width: 800px;
    height: 80vh;
  }
}
@media only screen and (min-width: 900px) {
  .link {
    font-size: 3rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1.2rem 1rem 1.8rem 1rem;
    transition: all 0.3s ease-in-out;
  }
  .link:hover {
    font-size: 3rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1.2rem 1rem 1.8rem 1rem;
    background: #fff;
    border: 1px solid #000;
  }

  .map iframe {
    width: 950px;
    height: 75vh;
  }
}
